{% extends 'dashboard/base_dashboard.html' %}


{% block content %}


<div class="container-fluid">


<div class="card shadow border-0">


<div class="card-header bg-primary text-white">


<a href="{% url 'tambah_pembayaran' %}"
class="btn btn-light btn-sm float-end">

+ Tambah Pembayaran

</a>


<h5 class="mb-0">

Daftar Pembayaran

</h5>


</div>




<div class="card-body">


<table class="table table-bordered table-hover">


<thead class="table-primary">

<tr>

<th>No</th>
<th>Work Order</th>
<th>Total Sparepart</th>
<th>Total Jasa</th>
<th>Total Bayar</th>
<th>Metode</th>
<th>Status</th>
<th>Aksi</th>

</tr>

</thead>



<tbody>


{% for item in pembayaran %}


<tr>


<td>
{{ forloop.counter }}
</td>



<td>
{{ item.workorder }}
</td>



<td>
Rp {{ item.total_sparepart }}
</td>



<td>
Rp {{ item.total_jasa }}
</td>



<td>
<strong>
Rp {{ item.total_bayar }}
</strong>
</td>



<td>
{{ item.metode }}
</td>



<td>

<span class="badge bg-success">

{{ item.status }}

</span>

</td>



<td>


<a href="{% url 'detail_pembayaran' item.id %}"
class="btn btn-info btn-sm text-white">

Detail

</a>


</td>


</tr>


{% empty %}


<tr>

<td colspan="8" class="text-center">

Belum ada pembayaran

</td>

</tr>


{% endfor %}


</tbody>


</table>


</div>


</div>


</div>


{% endblock %}