{% extends 'dashboard/base_dashboard.html' %}


{% block content %}


<div class="container-fluid">


<div class="card shadow border-0">


<div class="card-header bg-primary text-white">


<a href="{% url 'tambah_sparepart' %}"
class="btn btn-light btn-sm float-end">

+ Tambah Sparepart

</a>


<h5 class="mb-0">

Data Sparepart

</h5>


</div>




<div class="card-body">


<table class="table table-bordered table-hover">


<thead class="table-primary">


<tr>

<th>No</th>

<th>Nama Sparepart</th>

<th>Harga</th>

<th>Stok</th>

<th>Aksi</th>

</tr>


</thead>




<tbody>


{% for item in spareparts %}


<tr>


<td>
{{ forloop.counter }}
</td>


<td>
{{ item.nama }}
</td>


<td>
Rp {{ item.harga }}
</td>


<td>
{{ item.stok }}
</td>


<td>


<a href="{% url 'edit_sparepart' item.id %}"
class="btn btn-warning btn-sm">

Edit

</a>


<a href="{% url 'hapus_sparepart' item.id %}"
class="btn btn-danger btn-sm">

Hapus

</a>


</td>


</tr>



{% empty %}


<tr>

<td colspan="5"
class="text-center">

Belum ada data sparepart

</td>

</tr>


{% endfor %}


</tbody>


</table>


</div>


</div>


</div>


{% endblock %}