{% extends 'dashboard/base_dashboard.html' %}


{% block content %}


<div class="container-fluid">


<div class="card shadow border-0">


<div class="card-header bg-success text-white">


<h5 class="mb-0">

Tambah Pembayaran

</h5>


</div>




<div class="card-body">


<form method="POST">


{% csrf_token %}



<div class="mb-3">

<label class="form-label">

Work Order

</label>

{{ form.workorder }}

</div>




<div class="mb-3">

<label class="form-label">

Total Sparepart

</label>

{{ form.total_sparepart }}

</div>




<div class="mb-3">

<label class="form-label">

Total Jasa

</label>

{{ form.total_jasa }}

</div>




<div class="mb-3">

<label class="form-label">

Metode Pembayaran

</label>

{{ form.metode }}

</div>





<button class="btn btn-success">

<i class="fa-solid fa-save"></i>

Simpan Pembayaran

</button>




<a href="{% url 'daftar_pembayaran' %}"
class="btn btn-secondary">

Kembali

</a>



</form>


</div>


</div>


</div>


{% endblock %}