<!DOCTYPE html>
<html>
<head>
    <title>Data Mekanik</title>
</head>
<body>

<h2>Data Mekanik</h2>

<a href="{% url 'mekanik:tambah_mekanik' %}">
    <button>+ Tambah Mekanik</button>
</a>

<br><br>

<table border="1" cellpadding="10">
    <tr>
        <th>No</th>
        <th>Nama</th>
        <th>Keahlian</th>
        <th>No HP</th>
        <th>Status</th>
    </tr>

    {% for m in mekanik %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ m.nama }}</td>
        <td>{{ m.keahlian }}</td>
        <td>{{ m.no_hp }}</td>
        <td>{{ m.status }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Belum ada data mekanik.</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>