<!DOCTYPE html>
<html>
<head>
    <title>Detail Servis</title>
</head>
<body>

<h2>Detail Servis</h2>

<p><strong>No Polisi:</strong> {{ workorder.booking.kendaraan.nomor_polisi }}</p>

<p><strong>Keluhan:</strong> {{ workorder.booking.keluhan }}</p>

<p><strong>Mekanik:</strong> {{ workorder.mekanik.nama }}</p>

<hr>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Simpan Hasil Servis
    </button>
</form>

<br><br>

<a href="{% url 'mekanik:daftar_workorder' %}">
    Kembali ke Daftar Work Order
</a>

</body>
</html>