# Virtual Environment
env/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Database
db.sqlite3

# VS Code
.vscode/

# Static files
staticfiles/

# Media
media/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db