{% extends 'dashboard/base_dashboard.html' %}


{% block content %}


<div class="container-fluid">


<div class="card shadow border-0">


<div class="card-header bg-primary text-white">


<h5 class="mb-0">

<i class="fa-solid fa-calendar-check"></i>

Detail Booking Servis

</h5>


</div>





<div class="card-body">



<table class="table table-bordered">



<tr>

<th width="30%">
Nomor Polisi
</th>

<td>
{{ booking.kendaraan.nomor_polisi }}
</td>

</tr>




<tr>

<th>
Jenis Kendaraan
</th>

<td>
{{ booking.kendaraan.jenis }}
</td>

</tr>





<tr>

<th>
Merk
</th>

<td>
{{ booking.kendaraan.merk }}
</td>

</tr>





<tr>

<th>
Tipe
</th>

<td>
{{ booking.kendaraan.tipe }}
</td>

</tr>





<tr>

<th>
Tanggal Booking
</th>

<td>
{{ booking.tanggal_booking }}
</td>

</tr>





<tr>

<th>
Jam Booking
</th>

<td>
{{ booking.jam_booking }}
</td>

</tr>





<tr>

<th>
Keluhan Kendaraan
</th>

<td>
{{ booking.keluhan }}
</td>

</tr>





<tr>

<th>
Status
</th>

<td>


{% if booking.status == "menunggu" %}

<span class="badge bg-warning text-dark">
Menunggu
</span>


{% elif booking.status == "diproses" %}

<span class="badge bg-primary">
Diproses
</span>


{% elif booking.status == "dikerjakan" %}

<span class="badge bg-info">
Dikerjakan
</span>


{% elif booking.status == "selesai" %}

<span class="badge bg-success">
Selesai
</span>


{% else %}

<span class="badge bg-danger">
Dibatalkan
</span>


{% endif %}



</td>

</tr>





<tr>

<th>
Estimasi Selesai
</th>

<td>
{{ booking.estimasi_selesai|default:"-" }}
</td>

</tr>





<tr>

<th>
Catatan Admin
</th>

<td>
{{ booking.catatan_admin|default:"-" }}
</td>

</tr>




</table>





<a href="{% url 'booking_list' %}"
class="btn btn-secondary">


<i class="fa-solid fa-arrow-left"></i>

Kembali


</a>




<a href="{% url 'booking_update' booking.id %}"
class="btn btn-warning">


<i class="fa-solid fa-pen"></i>

Edit


</a>



</div>


</div>


</div>



{% endblock %}