{% extends 'dashboard/base_dashboard.html' %}


{% block content %}


<div class="container-fluid">


<div class="card shadow border-0">


<div class="card-header bg-primary text-white">


<a href="{% url 'booking_create' %}"
class="btn btn-light btn-sm float-end">

<i class="fa-solid fa-calendar-plus"></i>

+ Booking Servis

</a>


<h5 class="mb-0">

<i class="fa-solid fa-calendar-check"></i>

Riwayat Booking Servis

</h5>


</div>





<div class="card-body">



<table class="table table-bordered table-hover">


<thead class="table-primary">


<tr>

<th>No</th>

<th>Kendaraan</th>

<th>Tanggal</th>

<th>Jam</th>

<th>Status</th>

<th>Aksi</th>

</tr>


</thead>





<tbody>



{% for item in booking %}



<tr>


<td>

{{ forloop.counter }}

</td>




<td>

{{ item.kendaraan.nomor_polisi }}

<br>

<small class="text-muted">

{{ item.kendaraan.merk }} {{ item.kendaraan.tipe }}

</small>

</td>





<td>

{{ item.tanggal_booking }}

</td>





<td>

{{ item.jam_booking }}

</td>





<td>



{% if item.status == "menunggu" %}


<span class="badge bg-warning text-dark">

Menunggu

</span>



{% elif item.status == "diproses" %}


<span class="badge bg-primary">

Diproses

</span>



{% elif item.status == "dikerjakan" %}


<span class="badge bg-info">

Dikerjakan

</span>



{% elif item.status == "selesai" %}


<span class="badge bg-success">

Selesai

</span>



{% else %}


<span class="badge bg-danger">

Dibatalkan

</span>



{% endif %}



</td>







<td>


<a href="{% url 'booking_detail' item.id %}"
class="btn btn-info btn-sm text-white">


<i class="fa-solid fa-eye"></i>

Detail


</a>




<a href="{% url 'booking_update' item.id %}"
class="btn btn-warning btn-sm">


<i class="fa-solid fa-pen"></i>

Edit


</a>




<a href="{% url 'booking_delete' item.id %}"
class="btn btn-danger btn-sm">


<i class="fa-solid fa-trash"></i>

Hapus


</a>



</td>



</tr>





{% empty %}




<tr>


<td colspan="6"
class="text-center">


Belum ada booking servis.


</td>


</tr>



{% endfor %}





</tbody>


</table>


</div>


</div>


</div>



{% endblock %}