{% extends 'dashboard/base_dashboard.html' %}


{% block content %}


<div class="container-fluid">


<div class="card shadow border-0">


<div class="card-header bg-danger text-white">


<h5 class="mb-0">

<i class="fa-solid fa-trash"></i>

Hapus Kendaraan

</h5>


</div>




<div class="card-body">



<p>

Apakah Anda yakin ingin menghapus kendaraan berikut?

</p>





<table class="table table-bordered">


<tr>

<th width="30%">
Nomor Polisi
</th>

<td>

{{ kendaraan.nomor_polisi }}

</td>

</tr>




<tr>

<th>
Merk
</th>

<td>

{{ kendaraan.merk }}

</td>

</tr>




<tr>

<th>
Tipe
</th>

<td>

{{ kendaraan.tipe }}

</td>

</tr>




<tr>

<th>
Warna
</th>

<td>

{{ kendaraan.warna }}

</td>

</tr>



</table>







<form method="POST">


{% csrf_token %}




<button type="submit"
class="btn btn-danger">


<i class="fa-solid fa-trash"></i>

Ya, Hapus


</button>





<a href="{% url 'kendaraan_list' %}"
class="btn btn-secondary">


<i class="fa-solid fa-arrow-left"></i>

Batal


</a>




</form>



</div>


</div>


</div>



{% endblock %}