{% extends 'dashboard/base_dashboard.html' %}


{% block content %}


<div class="container-fluid">


<div class="card shadow border-0">


<div class="card-header bg-primary text-white">


<h5 class="mb-0">

<i class="fa-solid fa-car"></i>

{{ judul }}

</h5>


</div>




<div class="card-body">


<form method="POST">


{% csrf_token %}



<div class="row">


<div class="col-md-6 mb-3">


<label class="form-label">

Jenis Kendaraan

</label>


{{ form.jenis }}


</div>





<div class="col-md-6 mb-3">


<label class="form-label">

Merk

</label>


{{ form.merk }}


</div>




</div>





<div class="row">


<div class="col-md-6 mb-3">


<label class="form-label">

Tipe

</label>


{{ form.tipe }}


</div>





<div class="col-md-6 mb-3">


<label class="form-label">

Tahun

</label>


{{ form.tahun }}


</div>



</div>







<div class="row">


<div class="col-md-6 mb-3">


<label class="form-label">

Nomor Polisi

</label>


{{ form.nomor_polisi }}


</div>





<div class="col-md-6 mb-3">


<label class="form-label">

Warna

</label>


{{ form.warna }}


</div>



</div>






<div class="row">


<div class="col-md-6 mb-3">


<label class="form-label">

Nomor Rangka

</label>


{{ form.nomor_rangka }}


</div>





<div class="col-md-6 mb-3">


<label class="form-label">

Nomor Mesin

</label>


{{ form.nomor_mesin }}


</div>



</div>







<button type="submit"
class="btn btn-primary">


<i class="fa-solid fa-save"></i>

Simpan


</button>



<a href="{% url 'kendaraan_list' %}"
class="btn btn-secondary">


<i class="fa-solid fa-arrow-left"></i>

Kembali


</a>



</form>


</div>


</div>


</div>



{% endblock %}